<div class= "header">
    <h1>Sign Up</h1>
</div>

<div class= 'form'>
<%= form_for(@user, url:'/signup') do |f| %>

  <%= f.label :username %>
  <%= f.text_field :username, required:true%>
  <br>
   <br>
  <%= f.label :email %>
  <%= f.email_field :email, required:true%>
  <br>
   <br>
  <%= f.label :password %>
  <%= f.password_field :password, required:true %>
   <br>
    <br>

  <%= f.submit "Submit" %>

<% end %>
</div>