<h1>Edit <%= @bike.title%>!</h1>

<%= render partial: "layouts/errors", locals: {object: @bike} %>

<%= form_for(@bike) do |f|%>

  <br>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br></br>
  <%= f.label :type %>
  <%= f.text_area :type %>
  <br></br>
  <%= f.label :quality %>
  <%= f.number_field :quality %>


  <%= f.submit %>

<% end %>