<div class='model_form'>
<h1>New Bike!</h1>

<%= form_for(@bike) do |f|%>

   <p>Create your new bike below:</p>

  <br>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br></br>
  <%= f.label :type %>
  <%= f.text_field :type %>
  <br></br>
  <%= f.label :quality %>
  <%= f.number_field :quality %><br><br>


  <%= f.submit %>

<% end %>
</div>