<!DOCTYPE html>
<html>
  <head>
    <title>MyBike</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div>
          <% if logged_in?%>
      <%= link_to "Home", user_path(current_user)%> |
      <%= link_to "All Bikes", bikes_path %> |
      <%= link_to "My Bikes", user_bikes_path(current_user) %> |
      <%= link_to "Add Bike", new_bike_path %> |
      <%= link_to "Add Trail", new_trail_path %> |
      <%= link_to "Logout", logout_path, method:"delete"%>

      <% else %>
      <% end %>

    </div>

    <div>
      <% if flash[:message] %>
          <%= flash[:message]%>

      <% end %>
      <%= @error%>
  </div>
    <%= yield %>

    <div>
    <% if logged_in?%>
      <footer class= 'footer'><em><h5>You're a SkyLine Rider!</h5></em></footer>
    <% end %>
    </div>
  </body>
</html>
